@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  background-image: url(https://images.unsplash.com/photo-1497122123454-d63853ca2d39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  position: absolute;
  margin-left: 3%;
  margin-right: 3%;
  left: 0;
  width: 250px;
  height: 450px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #151515;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ds-top {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 300px;
  height: 80px;
  background: crimson;
  -webkit-animation: dsTop 1.5s;
          animation: dsTop 1.5s;
}

.avatar-holder {
  position: absolute;
  margin: auto;
  top: 40px;
  right: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000;
          box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000;
  background: white;
  overflow: hidden;
  -webkit-animation: mvTop 1.5s;
          animation: mvTop 1.5s;
}

.avatar-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.name {
  position: absolute;
  margin: auto;
  top: -60px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  -webkit-animation: fadeIn 2s ease-in;
          animation: fadeIn 2s ease-in;
}

.name a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.name a:hover {
  text-decoration: underline;
  color: crimson;
}

.name h6 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  width: 40px;
}

.button {
  position: absolute;
  margin: auto;
  padding: 8px;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  -webkit-animation: fadeIn 2s ease-in;
          animation: fadeIn 2s ease-in;
  outline: none;
}

.button a {
  padding: 5px 20px;
  border-radius: 10px;
  color: white;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-size: 0.8rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button a:hover {
  color: white;
  background: crimson;
}

h6 {
  text-transform: uppercase;
  color: crimson;
}

p {
  font-size: 0.5rem;
}

.ds:nth-of-type(2) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.ds:nth-of-type(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.ds-skill {
  position: absolute;
  margin: auto;
  bottom: 50px;
  right: 0;
  left: 0;
  width: 200px;
  height: 150px;
  -webkit-animation: mvBottom 1.5s;
          animation: mvBottom 1.5s;
}

.ds-skill h6 {
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: crimson;
}

.ds-skill .skill h6 {
  font-weight: 400;
  font-size: 8px;
  letter-spacing: 0.05em;
  margin: 4px 0px;
  color: white;
}

.ds-skill .skill .fab {
  color: crimson;
  font-size: 14px;
}

.ds-skill .skill .bar {
  height: 5px;
  background: crimson;
  text-align: right;
}

.ds-skill .skill .bar p {
  color: white;
  font-size: 8px;
  padding-top: 5px;
  -webkit-animation: fadeIn 5s;
          animation: fadeIn 5s;
}

.ds-skill .skill .bar:hover {
  background: white;
}

.ds-skill .skill .bar-html {
  width: 100%;
  -webkit-animation: htmlSkill 1s;
          animation: htmlSkill 1s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.ds-skill .skill .bar-css {
  width: 100%;
  -webkit-animation: cssSkill 2s;
          animation: cssSkill 2s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.ds-skill .skill .bar-js {
  width: 100%;
  -webkit-animation: jsSkill 3s;
          animation: jsSkill 3s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.ds-skill .skill .tufty {
  width: 50%;
  -webkit-animation: tuftyone 1s;
          animation: tuftyone 1s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.ds-skill .skill .tufty2 {
  width: 90%;
  -webkit-animation: tuftytwo 2s;
          animation: tuftytwo 2s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.ds-skill .skill .lop {
  width: 70%;
  -webkit-animation: lopone 1s;
          animation: lopone 1s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.ds-skill .skill .lop2 {
  width: 60%;
  -webkit-animation: loptwo 2s;
          animation: loptwo 2s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.ds-skill .skill .lop3 {
  width: 90%;
  -webkit-animation: lopthree 3s;
          animation: lopthree 3s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.ds-skill .skill .dor {
  width: 60%;
  -webkit-animation: dorone 1s;
          animation: dorone 1s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.ds-skill .skill .dor2 {
  width: 70%;
  -webkit-animation: dortwo 2s;
          animation: dortwo 2s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.ds-skill .skill .dor3 {
  width: 80%;
  -webkit-animation: dorthree 3s;
          animation: dorthree 3s;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes tuftyone {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes tuftyone {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@-webkit-keyframes tufytwo {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes tufytwo {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes lopone {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes lopone {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes loptwo {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes loptwo {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@-webkit-keyframes lopthree {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes lopthree {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes dorone {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes dorone {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@-webkit-keyframes dortwo {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes dortwo {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes dorthree {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes dorthree {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes htmlSkill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes htmlSkill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes cssSkill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes cssSkill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes jsSkill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes jsSkill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes mvBottom {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 10px;
  }
}

@keyframes mvBottom {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 10px;
  }
}

@-webkit-keyframes mvTop {
  0% {
    top: -150px;
  }
  100% {
    top: 40px;
  }
}

@keyframes mvTop {
  0% {
    top: -150px;
  }
  100% {
    top: 40px;
  }
}

@-webkit-keyframes dsTop {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}

@keyframes dsTop {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}

.following {
  color: white;
  background: crimson;
}

.tilesWrap {
  padding: 0;
  margin: 0px auto;
  list-style: none;
}

.tilesWrap li {
  margin: 50px;
  display: inline-block;
  min-width: 200px;
  max-width: 800px;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin-bottom: 300px;
  text-align: left;
  margin-left: 70px;
}

.button2 {
  margin-top: 120px;
  margin-left: -10px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  color: white;
  font-size: 1rem;
}

.modal-content p {
  font-size: 1rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .modal-content {
    width: 300px;
  }
}

/* The Modal (background) */
.modal2 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  color: white;
  font-size: 1rem;
}

.modal-content2 p {
  font-size: 1rem;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .modal-content2 {
    width: 300px;
  }
}

/* The Modal (background) */
.modal3 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content3 {
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  color: white;
  font-size: 1rem;
}

.modal-content3 p {
  font-size: 1rem;
}

/* The Close Button */
.close3 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .modal-content3 {
    width: 300px;
  }
}

/* The Modal (background) */
.modal4 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content4 {
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  color: white;
  font-size: 1rem;
}

.modal-content4 p {
  font-size: 1rem;
}

/* The Close Button */
.close4 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .modal-content4 {
    width: 300px;
  }
}

/* The Modal (background) */
.modal5 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content5 {
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  color: white;
  font-size: 1rem;
}

.modal-content5 p {
  font-size: 1rem;
}

/* The Close Button */
.close5 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close5:hover,
.close5:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .modal-content5 {
    width: 300px;
  }
}

.deepshadow {
  color: #e0dfdc;
  background-color: #333;
  letter-spacing: 1rem;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 20px;
  font-size: 3rem;
  margin: 0;
  margin-top: 20px;
}

.heading-frame {
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  -ms-grid-rows: auto max-content;
      grid-template-rows: auto -webkit-max-content;
      grid-template-rows: auto max-content;
  background: #333 url(https://res.cloudinary.com/djfz8onqu/image/upload/v1583147649/Lambing%20Live/cheeks_nkfxxl.jpg) center;
  background-size: cover;
  color: white;
  width: 300px;
  height: 300px;
  padding: 2rem;
}

.heading-frame:before, .heading-frame:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

.heading-frame:before {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  border-right: none;
  border-bottom: none;
}

.heading-frame:after {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  border-left: none;
}

.heading-frame h2 {
  margin: 1rem 1rem -.5rem 0;
  font-size: 2rem;
  max-width: 100%;
}

.heading-frame2 {
  background: #333 url(https://res.cloudinary.com/djfz8onqu/image/upload/v1583696685/Lambing%20Live/tuft_h2l9vt.jpg) center;
  background-size: cover;
}

.heading-frame3 {
  background: #333 url(https://res.cloudinary.com/djfz8onqu/image/upload/v1583163971/Lambing%20Live/lop_qtynsn.jpg) center;
  background-size: cover;
}

.heading-frame3 {
  background: #333 url(https://res.cloudinary.com/djfz8onqu/image/upload/v1583163971/Lambing%20Live/lop_qtynsn.jpg) center;
  background-size: cover;
}

.heading-frame4 {
  background: #333 url(https://res.cloudinary.com/djfz8onqu/image/upload/v1583696437/Lambing%20Live/doro_yapdoe.jpg) center;
  background-size: cover;
}

.heading-frame5 {
  background: #333 url(https://res.cloudinary.com/djfz8onqu/image/upload/v1583164127/Lambing%20Live/lammy_tnfdwg.jpg) center;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .heading-frame {
    width: 200px;
    height: 200px;
  }
  .tilesWrap li {
    position: static;
  }
  .card {
    margin-left: 50px;
  }
}

.bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: crimson;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s, -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  -webkit-box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
          box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  margin-left: 45%;
}

.bubbly-button:focus {
  outline: 0;
}

.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, crimson 20%, transparent 20%), radial-gradient(circle, transparent 20%, crimson 20%, transparent 30%), radial-gradient(circle, crimson 20%, transparent 20%), radial-gradient(circle, crimson 20%, transparent 20%), radial-gradient(circle, transparent 10%, crimson 15%, transparent 20%), radial-gradient(circle, crimson 20%, transparent 20%), radial-gradient(circle, crimson 20%, transparent 20%), radial-gradient(circle, crimson 20%, transparent 20%), radial-gradient(circle, crimson 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, crimson 20%, transparent 20%), radial-gradient(circle, crimson 20%, transparent 20%), radial-gradient(circle, transparent 10%, crimson 15%, transparent 20%), radial-gradient(circle, crimson 20%, transparent 20%), radial-gradient(circle, crimson 20%, transparent 20%), radial-gradient(circle, crimson 20%, transparent 20%), radial-gradient(circle, crimson 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #c51236;
  -webkit-box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
          box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.bubbly-button.animate:before {
  display: block;
  -webkit-animation: topBubbles ease-in-out 0.75s forwards;
          animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
  display: block;
  -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
          animation: bottomBubbles ease-in-out 0.75s forwards;
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

.vote {
  background-color: #151515;
  margin-top: 200px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.vote h2 {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .vote {
    height: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=sheep.css.map */